<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <title>Rendezvous</title>
    	<meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

<!-- documentation at http://getbootstrap.com/docs/4.0/, alternative themes at https://bootswatch.com/4-alpha/ -->

        <script src="https://code.jquery.com/jquery-latest.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

        <script src="https://cdn.rawgit.com/corejavascript/typeahead.js/master/dist/typeahead.jquery.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.5/handlebars.min.js"></script>

<!--
Power Template
http://www.templatemo.com/tm-508-power
-->
        <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800' rel='stylesheet' type='text/css'>

        <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/font-awesome.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/animate.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/templatemo_misc.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/templatemo_style.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/owl-carousel.css') }}">

    </head>

    <body>
        <div class="site-main" id="sTop">
            <div class="site-header">
                <div class="main-header">
                    <div class="container">
                        <div id="menu-wrapper">
                            <div class="row">
                                <nav class="navbar navbar-inverse" role="navigation">
                                    <div class="navbar-header">
                                        <button type="button" id="nav-toggle" class="navbar-toggle" data-toggle="collapse" data-target="#main-nav">
                                            <span class="sr-only">Toggle navigation</span>
                                            <span class="icon-bar"></span>
                                            <span class="icon-bar"></span>
                                            <span class="icon-bar"></span>
                                        </button>
                                        <a href="#top" class="navbar-brand">Rendezvous</a>
                                        <div id="main-nav" class="collapse navbar-collapse">
                                            <ul class="menu-first nav navbar-nav" style="margin-right: 20px;">
                                                <li class="active"><a href="#">Home</a></li>
                                                <li><a href="#about">About</a></li><!--Portfolio-->
                                                <li><a href="#break">Input Addresses</a></li><!--Contact-->
                                            </ul>
                                        </div> <!-- /.main-menu -->
                                    </div>
                                </nav>
                            </div> <!-- /.row -->
                        </div> <!-- /#menu-wrapper -->
                    </div> <!-- /.container -->
                </div> <!-- /.main-header -->
            </div> <!-- /.site-header -->
        </div> <!-- /.site-main -->


        <div class="banner">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2">
                        <div class="banner-content">
                            <h6>Make meeting up a transformative experience</h6>
                            <h2>This Is Rendezvous</h2>
                            <ul class="buttons">
                                <li>
                                    <div class="primary-button">
                                        <a href="#break">Get Started</a><!--Download Now-->
                                    </div>
                                </li>
                                <li>
                                    <div class="secondary-button">
                                        <a href="#about">More Details</a>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div class="intro">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <h4>Meet in the middle</h4>
                        <h6>NEVER WASTE MORE TIME THAN YOUR FRIENDS AGAIN</h6>
                        <div class="border-button"><a href="#break">Let Me Rendezvous!</a></div><!--Discover More-->
                    </div>
                </div>
            </div>
        </div>


        <section id="about" class="page-section">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-4">
                        <div class="service-item first-service">
                            <h4>Input Addresses</h4>
                            <p>Let us know where you and your friends are! If you don't have any friends, check out: <a href="https://tinder.com/app/login">I Don't Have Friends</a>. But if you're like us and you have a life, sit back, relax, and let the hard part of meeting up happen for you.</p>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="service-item second-service">
                            <h4>Add a place type</h4>
                            <p>Whether you want to go to a wax museum, reptile shop, or breakdancing studio, we have you covered. We won't judge you for any of your requests. Tell us how far from the central point you'd be willing to go (up to 30 miles).</p>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="service-item third-service">
                            <h4>Go on your adventure</h4>
                            <p>Destinations will be outputted to specifically fit your desires, leaving behind the struggles of picking a restaurant for your date. We've covered the most difficult part of the rendezvous, but only YOU can get up off your couch and hit the road.</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section id="portfolio" class="portfolio-section">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="section-heading">
                            <h4>Our Mission</h4>
                            <p>Here at Rendezvous, we know that meeting up with your coworkers, friends, and family can be a hassle. It's hard to pick a central point to meet up at, and even harder to pick a place to go. Our mission is to get you and your friends to the places most suited for you, without wasting your time, gas or money. Too long has meeting up been an inconvenience. With Rendezvous, meeting up is a transformative experience.</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section id="break">
            <div class="intro">
                <div class="container">
                    <div class="row">
                    </div>
                </div>
            </div>
        </section>

        <section id="contact-us">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="section-heading">
                            <h4>Rendezvous</h4>
                            <p>Input addresses, meeting point type, and radius from the central point.</p>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <form id="contact" action="/results" method="get">
                            <div class="row">
                                <div class="col-lg-6">
                                    <fieldset>
                                        <input name="type" type="text" class="form-control" id="type" placeholder="Destination Type..." required="">
                                    </fieldset>
                                </div>
                                <div class="col-lg-6">
                                    <fieldset>
                                        <input name="radius" type="number" class="form-control" id="radius" placeholder="Radius (up to 30 miles)..." required="">
                                    </fieldset>
                                </div>
                                <div class="col-md-6">
                                    <button type="button" onclick="newAddress();" value="Add Address">Add Address</button>
                                </div>
                                <div class="col-md-6">
                                    <button type="submit" id="form-submit" >Rendezvous!</button>
                                </div>
                                <div class="col-md-12">
                                    <form>
                                        <fieldset>
                                            <br><br><input name = "address1" placeholder="Address 1..." type="text" required="">
                                        </fieldset>
                                        <fieldset>
                                            <input name = "address2" placeholder="Address 2..." type="text" required="">
                                        </fieldset>
                                    </form>
                                </div>
                                <script type="text/javascript">
                                    let count = 2;
                                    function newAddress() {
                                        count ++;
                                        //www.w3schools.com/jsref/event_onclick.asp>
                                        //https://stackoverflow.com/questions/15741006/adding-div-element-to-body-or-document-in-javascript
                                        $('form').append("<fieldset><input name=\"address"+count+"\" placeholder=\"Address "+count+"...\" type=\"text\" required=\"\"></fieldset>");
                                    }
                                </script>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </section>

        <footer>
            <div class="container">
                <div class="row">
                    <div class="col-md-4 col-sm-12">
                            <p>Copyright &copy; 2017 Studio30, LLC <br>
                            <a href="http://www.templatemo.com/tm-508-power">Power Theme</a> by <a href="http://www.html5max.com" target="_parent">HTML5 Max</a></p>
                    </div>
                    <div class="col-md-4 col-sm-12">
                        <ul class="social-icons">
                            <li><a href="https://www.facebook.com/ThisIsStudio30">Connect with us on Facebook</a></li>
                        </ul>
                    </div>
                    <div class="col-md-2 col-md-offset-2 col-sm-12">
                        <div class="back-to-top">
                            <a href="#top">
                                <i class="fa fa-angle-up"></i>
                                back to top
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
    </body>
</html>